 <?php
	$this->jQuery()->addJavascriptFile($this->sambaUrl . 'system/js/external/jquery/plugins/tmpl/jquery.tmpl.min.js')
		->addJavascriptFile($this->sambaUrl."system/js/external/plupload/plupload.js")
		->addJavascriptFile($this->sambaUrl."system/js/external/plupload/plupload.html5.js")
		->addJavascriptFile($this->sambaUrl."system/js/external/plupload/plupload.html4.js")
		->addJavascriptFile($this->sambaUrl."system/js/external/plupload/plupload.flash.js");
	echo $this->jQuery();
	//$this->headScript()->setAllowArbitraryAttributes(true);
	//echo $this->headScript();
?>
<div id="widcard-holder">
<form id="idCard" name="idCard" action="<?php echo $this->websiteUrlAction;?>plugin/widcard/run/saveSiteInfo" method="POST" enctype="multipart/form-data">
<div class="grid_12">

	<fieldset>
  	<legend><?php echo $this->translate('Website ID Card')?></legend>
			<div class="mb5px grid_8">
				<label><?php echo $this->translate('Website URL');?></label>
				<input type="text" name="website" id="page_h1" value="<?php echo $this->websiteUrl;?>" />
			</div>
			<div class="mb5px grid_4">
				<label><?php echo $this->translate('Website Language');?></label>
				 <input type="text" readonly name="language" value="<?php echo $this->websiteLang;?>" />
		  </div>
			<div class="textcentered mb5px grid_4">
				<label><?php echo $this->translate('Corporate Logo');?></label>
				<img id="page-preview-image" width="170px" height="170px" src="<?php echo $this->corporateLogo;?>" class="padding10px" alt="<?php echo $this->translate('Corporate logo');?>" />
				<div id="page-teaser-uploader" style="position: static;">
				<button id="page-teaser-uploader-pickfiles">
				<span><?php echo $this->translate('Upload image'); ?></span>
				</button>
				</div>
				<div id="page-teaser-uploader-filelist" style="position: relative;"></div>
		  </div>

		<div class="grid_8">
			<div class="mb5px">
			  <label><?php echo $this->translate('Organization Name');?></label>
			  <input type="text" name="organization_name" value="<?php echo $this->organizationName?>" />
			</div>
			<div class="mb5px">
				<label><?php echo $this->translate('Organization Description: (200 char max)');?></label>
				<textarea name="organization_description" id="teaser_text" class="h160 orgdesc"><?php echo $this->organizationDescription;?></textarea>
			</div>
		</div>

		<div class="grid_12 mb5px">
			<label><?php echo $this->translate('Street Address 1');?></label>
			<input type="text" name="address1" value="<?php echo $this->address1?>" />
		</div>
		<div class="grid_7 mb5px">
			<label><?php echo $this->translate('Street Address 2');?></label>
			<input type="text" name="address2" value="<?php echo $this->address2?>" />
		</div>
		<div class="grid_5 mb5px">
			<label><?php echo $this->translate('Country');?></label>
			<select name="organization_country">
				<option value="-1"><?php echo $this->translate('Choose a country');?></option>
				<?php
					array_pop($this->countryList);
					asort($this->countryList);
					foreach ($this->countryList as $num => $country) { ?>
					<option label="<?php echo $country?>" <?php echo ($this->organizationCountry == $num) ? 'selected = "selected"' : ''; ?> value="<?php echo $num?>"><?php echo $country?></option>
				<?php	}
				?>
			</select>
		</div>
		<div class="grid_5 mb5px">
			<label><?php echo $this->translate('City / Town');?></label>
			<input type="text" name="city" value="<?php echo $this->city?>" />
		</div>
		<div class="grid_5 mb5px">
			<label><?php echo $this->translate('State');?></label>
			<select name="country_state" <?php echo ($this->countryState == '') ? 'disabled' : '' ; ?>>
					<?php if($this->countryState != '') {
						foreach ($this->stateList as $num => $state) { ?>
						<option label="<?php echo $state?>" <?php echo ($this->countryState == $num) ? 'selected = "selected"' : ''; ?> value="<?php echo $num?>"><?php echo $state?></option>
					 <?php	}
						}?>
			</select>
		</div>
		<div class="grid_2 mb5px">
			<label><?php echo $this->translate('ZIP Code');?></label>
			<input type="text" name="zip" value="<?php echo $this->zip?>" />
		</div>
		<div class="grid_6 mb5px">
			<label><?php echo $this->translate('Local Phone (other than toll-free)');?></label>
			<input type="text" name="phone" value="<?php echo $this->phone?>" />
		</div>
		<div class="grid_6 mb5px">
			<label><?php echo $this->translate('E-mail Address');?></label>
			<input type="text" name="email" value="<?php echo $this->email?>" />
		</div>
		<div class="grid_6 mb5px">
			<label for="pagetitle" class="clearW"><?php echo $this->translate('Industry');?></label>
			<select name="industry_type[]" multiple="multiple" size="7">
					<?php
						foreach ($this->industryList as $num => $industry) { ?>
						<option label="<?php echo $industry?>"
							<?php if(is_array($this->industryType)) {
								foreach ($this->industryType as $item) { ?>
									<?php echo ( ($item == $num) && ($item != '') ) ? 'selected = "selected"' : ''; ?>
							<?php }
							}
							?>
						value="<?php echo $num?>"><?php echo $industry?></option>
					<?php	}
					?>
			</select>
		</div>
		<div class="grid_6 mb5px">
			<ul id="sel_industry"></ul>
		</div>
		<div class="grid_12 mb5px">
			<label><?php echo $this->translate('Does your business provide services, such as delivery or home repair, to locations in a certain area?');?></label>
			  <div class="grid_12"><input type="radio" name="business" value="1" <?php echo ($this->business == '1') ? 'checked' : '' ?> /><?php echo $this->translate('Yes, this business serves customers at their locations');?></div>
			  <div class="grid_12"><input type="radio" name="business" value="0" <?php echo ($this->business == '0') ? 'checked' : '' ?> /> <?php echo $this->translate('No, all customers come to the business location');?></div>
		</div>
		<div class="grid_12 mb5px">
	  	<label><?php echo $this->translate('You sell items and collect payments online?');?></label>
			<div class="grid_12"><input type="radio" name="pay-online" value="1" <?php echo ($this->payOnline == '1') ? 'checked' : '' ?> /> <?php echo $this->translate('Yes');?></div><div class="grid_12">
			<input type="radio" name="pay-online" value="0" <?php echo ($this->payOnline == '0') ? 'checked' : '' ?> /> <?php echo $this->translate('No');?></div>
		</div>
  </fieldset>


	<fieldset id="pay-type">
		<legend><?php echo $this->translate('Accepted Payment Types');?></legend>

				<?php foreach ($this->paymentTypes as $type) { ?>
				<div class="payway-box">
					<img class="" src="<?php echo $this->sambaUrl?>plugins/widcard/web/images/payway/<?php echo $type['image'] ?>" alt="<?php echo $this->translate($type['type']);?>" width="100%" height="70px" />
					<span class="textcentered payway-name"><?php echo $this->translate($type['type']);?></span>
					<input class="payway-check" type="checkbox" name="payway[]" value="<?php echo $type['num'] ?>"

					<?php
						if(is_array($this->paymentType)) {
							foreach ($this->paymentType as $payway) {
								echo ($payway == $type['num']) ? 'checked' : '';
							}
						}
					?>
					/>
				</div>
				<?php }	?>
    </fieldset>

	<input type="submit" name="saveWebsite" id="saveWebsite" value="Save">
	<input name="webSiteId" type="hidden" value="<?php echo $this->webSiteId;?>" />
  </div>
</form>
</div>

<?php
	/*$this->jQuery()->addStylesheet($this->websiteUrl."plugins/userinfo/system/layout/css/userinfo.css" );
	echo $this->headLink();*/
	$this->jQuery()->addJavascriptFile($this->sambaUrl."plugins/widcard/web/js/widcard.js");
	echo $this->headScript();
?>